<table class="table table-striped">
    <tr>
        <th>Benutzername</th>
        <th>Login</th>
        <th>Id</th>
    </tr>
    #foreach ( $user in $userList )
        <tr>
            <td>$user.fullName</td>
            <td>$user.login</td>
            <td>$user.userId</td>
        </tr>
    #end
</table>